<div class="cwr-usp-slider cwr-usp-slider--bg-light">
    <div class="container">
        <div class="cwr-usp-slider__content js-usp-slider-content">
            <div class="cwr-usp-slider__item">
                <div class="cwr-usp-slider__item-box">
                    <img src="{{ 'usp-img1.svg' | file_url }}" alt="usp-img" class="img-fluid" width=""
                    height="">
                    <span>90,000 + happy customers</span>
                </div>
            </div>
            <div class="cwr-usp-slider__item">
                <div class="cwr-usp-slider__item-box">
                    <img src="{{ 'usp-img2.svg' | file_url }}" alt="usp-img" class="img-fluid" width=""
                    height="">
                    <span>Safe & secure checkout</span>
                </div>
            </div>
            <div class="cwr-usp-slider__item">
                <div class="cwr-usp-slider__item-box">
                    <img src="{{ 'usp-img3.svg' | file_url }}" alt="usp-img" class="img-fluid" width=""
                    height="">
                    <span>FREE DELIVERY over $70</span>
                </div>
            </div>
        </div>
    </div>
</div>
