<section class="cwr-logo-slider">
    <div class="cwr-logo-slider__content js-logo-slider-content">
        {% for block in section.blocks %}
        {% if block.settings.award_image != blank %}
        <div class="cwr-logo-slider__content-img">
                <figure>
                    <img src="{{ block.settings.award_image | image_url: width: 188, height: 85 }}" alt="logo-slider-img" class="img-fluid lazyload" width="188" height="85">
                </figure>
        </div>
        {% endif %}
        {% endfor %}
        </div>
</section>
{% schema %}
        {
            "name": "Award Slider",
            "max_blocks": 10,
            "settings": [],
            "blocks" : [{
            "type": "award",
            "name": "Award",
            "settings": [
                {
                "type": "image_picker",
                "label": "Award Image",
                "id": "award_image"
                }]
            }],
            "presets" : [
                {
                    "name" : "Award Slider"
                }
            ]
        }
{% endschema %}