{% if cart == empty %}
<img 
                        src="https://cdn.shopify.com/s/files/1/0930/1200/1082/files/cart-img.svg?v=1742376987" 
                        alt="search-icon" 
                        class="img-fluid" 
                        width="" 
                        height=""/>
                      {% else %}
                       <img 
                        src="https://cdn.shopify.com/s/files/1/0930/1200/1082/files/cart-img.svg?v=1742376987" 
                        alt="search-icon" 
                        class="img-fluid" 
                        width="" 
                        height=""/>
{% endif %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
