<section class="cwr-marquee-slider">
    <div class="cwr-marquee-slider__content">
        <ul class="js-marquee-slider">
            {% for block in section.blocks %}
                {% if block.settings.marquee_text != blank %}
                    <li>
                        {% if block.settings.marquee_text != blank %}<p>{{ block.settings.marquee_text }}</p>{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
{% schema %}
    {
        "name": " CWR Marquee Slider",
        "settings": [],
        "blocks" : [{
            "type": "slider",
            "name": "Marquee Slider Block",
            "settings": [
                {
                "type": "text",
                "label": "Marquee Text",
                "id": "marquee_text"
                }]
        }],
        "presets" : [
            {
                "name" : "CWR Marquee Slider"
            }
        ]
    }
{% endschema %}